<head th:replace="fragments/header :: head"></head>
<body>
<div class="container-fluid text-center">
    <div>
        <h2 class="border-bottom-5">Team Members</h2>
    </div>
    <table class="table" table-bordered>
        <thead class ="thead-dark"></thead>
        <tr>
            <th>Description</th>
            <th>Github repository</th>
            <th></th>
        </tr>
        <tbody>
        <th:block th:each="url : ${listUrl}">
            <tr>
                <td>[[${url.description}]]</td>
                <td>
                <a th:href="${url.url}" th:text="${url.url}" target="_blank" />
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>
