<head th:replace="fragments/header :: head"></head>

<body>
<h1 class="text-center"> GitHub </h1>
<p class="text-center"> Teletearbies</p>
<div class="mx-auto" style="width: 500px;">
    <div class="card">
        <img th:src="@{/image/n6K5jGZx4a-8.png}">
        <div class="card-body text-center">
            <p class="card-text">Our Applications</p>
               <a th:href="@{https://github.com/mubibic/Mandatory_2_Tech}">Bouncing Ball Application </a>
            <div></div>
            <a th:href="@{https://github.com/mubibic/Tech_1_Teletearbies}">Spring Boot Application </a>
        </div>
    </div>
</div>
</body>


<a th:href="@{https://github.com/mubibic/Mandatory_2_Tech}"> </a>
<a th:href="@{https://github.com/mubibic/Tech_1_Teletearbies}"> </a>