
<head th:replace="fragments/header :: head"></head>

<link rel="stylesheet" type="text/css" href="style.css" />
<body>
<h1 class="text-center"> Bouncy Balls </h1>
<p class="text-center"> Teletearbies</p>
<div class="mx-auto" >
    <div class="card"  >
        <video controls loop autoplay muted class="card-img-top" th:src="@{/image/bb2.mov}" alt="Card image cap">
            <source src="bb2.mov" type="video/mp4">
            <source src="bb2.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>
        <div class="card-body text-center">
            <p class="card-text">Our beautiful bouncy balls</p>
            <a href="#" class="btn mr-2 text-dark "><i class="fas fa-link"></i> Code snippets</a>
            <a href="#" class="btn text-dark "><i class="fab fa-github"></i> Github</a>
        </div>
    </div>
</div>
</div>


</body>

